._ensaio_proposta-icone:before{
  content: "\f044";
}

._ensaio_guia-icone:before {
  content: "\f022";
}

._ensaio_boletim-icone:before {
  content: "\f02d";
}

._ensaio_procedimento-icone:before {
  content: "\f1b3";
}