html{background-image:none; background-color: #fff}
body { background-image:none}

@page {	margin: 9mm 9mm 2mm 7mm;} 
 
@page { size: A4 portrait;}

@media print {
	.page-break {
		display: block;
		page-break-before: always;
	}
	#header, #footer, #pesquise_aqui, .noprint {
		display: none !important;
	}
}
