@page {	margin: 2mm 7mm 2mm 7mm;} 
 
@page { size: A4 landscape;}

@media print {
	.page-break {
		display: block;
		page-break-before: always;
	}
	/*#header, #footer, #pesquise_aqui, .noprint {
		display: none !important;
	}*/
}
