.modal-header-success {
    color:#ffffff;
    padding:9px 15px;
    border-bottom:1px solid #eee;
    background-color: #1a7bb9;
    -webkit-border-top-left-radius: 5px;
    -webkit-border-top-right-radius: 5px;
    -moz-border-radius-topleft: 5px;
    -moz-border-radius-topright: 5px;
     border-top-left-radius: 5px;
     border-top-right-radius: 5px;
}

.modal-header-warning {
    color:#ffffff;
    padding:9px 15px;
    border-bottom:1px solid #eee;
    background-color: #f0ad4e;
    -webkit-border-top-left-radius: 5px;
    -webkit-border-top-right-radius: 5px;
    -moz-border-radius-topleft: 5px;
    -moz-border-radius-topright: 5px;
     border-top-left-radius: 5px;
     border-top-right-radius: 5px;
}

.modal-header-primary {
    color:#ffffff;
    padding:9px 15px;
    border-bottom:1px solid #eee;
    background-color: #026d3b;
    -webkit-border-top-left-radius: 5px;
    -webkit-border-top-right-radius: 5px;
    -moz-border-radius-topleft: 5px;
    -moz-border-radius-topright: 5px;
     border-top-left-radius: 5px;
     border-top-right-radius: 5px;
}

.modal-header-danger {
    color:#ffffff;
    padding:9px 15px;
    border-bottom:1px solid #eee;
    background-color: #ed5565;
    -webkit-border-top-left-radius: 5px;
    -webkit-border-top-right-radius: 5px;
    -moz-border-radius-topleft: 5px;
    -moz-border-radius-topright: 5px;
     border-top-left-radius: 5px;
     border-top-right-radius: 5px;
}

.adicionar{background-color: #bcffba !important;}
.subtrair{background-color: #fcc8c8 !important;}

.envio{background-color: #5bb5ee !important;}
.recebido{background-color: #9ad7fe !important;}

.yellow{background-color: #E2F779;}
.orange{background-color: #FAAD6E;}
.red{background-color: #FF4747;}

.crawler{
    background-color: #F7CD94 !important;
    margin:0px 0px 0px 0px;
}

.comando{
    background-color: #A0C1FA !important;
    margin:0px 0px 0px 0px;
}

.selenio{
    background-color: #6199FA !important;
    margin:0px 0px 0px 0px;
}

.iridio{
    margin:0px 0px 0px 0px;
}

.cobalto{
    background-color: #BAD6B2 !important;
    margin:0px 0px 0px 0px;
}

.raio-x{
    background-color: #B8B8B8 !important;
    margin:0px 0px 0px 0px;
}

.abaixo10{
    background-color: #9DDEFF !important;
    margin:0px 0px 0px 0px;
}

.abaixo20{
    background-color: #FFFF99 !important;
    margin:0px 0px 0px 0px;
}

.tabelafolhafontes{
  font-size: 14px;
  color: black;
  text-align: center;
  border-left:1px solid #808080;
  border-right:1px solid #808080;
  border-top:1px solid #808080;
  border-bottom:1px solid #808080;
  border-color: #C9C7C7;
  width: 1090px;
  max-height: 1550px;
}
.tabelafolhafontes th{
  text-align: center;
}

.tabelafolhafontes td {
  padding-top: 3px;
  padding-bottom: 3px;
}


      