/*parecer switch*/
.parecer {
    position: relative; width: 113px;
    -webkit-user-select:none; -moz-user-select:none; -ms-user-select: none;
}
.parecer-checkbox {
    display: none;
}
.parecer-label {
    display: block; overflow: hidden; cursor: pointer;
    border: 2px solid #666666; border-radius: 30px;
}
.parecer-inner {
    display: block; width: 200%; margin-left: -100%;
    -moz-transition: margin 0.3s ease-in 0s; -webkit-transition: margin 0.3s ease-in 0s;
    -o-transition: margin 0.3s ease-in 0s; transition: margin 0.3s ease-in 0s;
}
.parecer-inner:before, .parecer-inner:after {
    display: block; float: left; width: 50%; height: 29px; padding: 0; line-height: 29px;
    font-size: 13px; color: white; font-family: Trebuchet, Arial, sans-serif; font-weight: bold;
    -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;
}
.parecer-inner:before {
    content: "Aprovado";
    padding-left: 8px;
    background-color: #0B8200; color: #FFFFFF;
}
.parecer-inner:after {
    content: "Reprovado";
    padding-right: 8px;
    background-color: #FA1B1B; color: #FFF5F5;
    text-align: right;
}
.parecer-switch {
    display: block; width: 26px; margin: 1.5px;
    background: #FFFFFF;
    border: 2px solid #666666; border-radius: 30px;
    position: absolute; top: 0; bottom: 0; right: 80px;
    -moz-transition: all 0.3s ease-in 0s; -webkit-transition: all 0.3s ease-in 0s;
    -o-transition: all 0.3s ease-in 0s; transition: all 0.3s ease-in 0s; 
}
.parecer-checkbox:checked + .parecer-label .parecer-inner {
    margin-left: 0;
}
.parecer-checkbox:checked + .parecer-label .parecer-switch {
    right: 0px; 
}