.tabela{
  font-size: 10px;
  color: black;
}
.tbtitulo{
	text-align: center;
	font-weight: bold;
	font-size: 12px;
	background-color: #BEBEBE;
}
.tbsubtitulo{
	text-align: center;
	font-weight: bold;
	font-size: 10px;
	background-color: #D3D3E7;
}
.tbsubtitulo2{
	text-align: center;
	font-weight: bold;
	font-size: 10px;
	background-color: #DDD;
}
.tbinput{
	width: 135px !important;
	text-align: center !important;
}
.tbinputUN{
	width: 50px !important;
	text-align: center !important;
}
.tbinputPW{
	width: 80px !important;
	text-align: center !important;
}
.tbinputEM{
	width: 200px !important;
	text-align: center !important;
}
.tblabel{
	vertical-align: middle !important;
	text-align: center !important;
}
.tbitem{
	width: 130px !important;
}
.tbsubitem{
	background-color: #DDD;
}
.edit{
	background-color: #F8F8FF; 
}
