.divtitulo{
	text-align: center;
	font-weight: bold;
	font-size: 12px;
	background-color: #BEBEBE;
}
.divsubtitulo{
	text-align: center;
	font-weight: bold;
	font-size: 10px;
	background-color: #D3D3E7;
	margin-top: 10px;
	
}
.divsubtitulo2{
	text-align: center;
	font-weight: bold;
	font-size: 10px;
	background-color: #DDD;
}
.divinput{
	width: 130px !important;
	text-align: center !important;
}
.divinputUN{
	width: 50px !important;
	text-align: center !important;
}
.divinputPW{
	width: 80px !important;
	text-align: center !important;
}
.divinputEM{
	width: 250px !important;
	text-align: center !important;
}
.divlabel{
	vertical-align: middle !important;
	text-align: center !important;
}
.divitem{
	width: 130px !important;
}
.divsubitem{
	background-color: #DDD;
}
.edit{
	background-color: #F8F8FF; 
}
